:root{
    --top-panel-height: 100px;
}

div.top_panel{
    display: flex;
    margin: 4px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: var(--top-panel-height);
    border: 3px solid #f5f0ec;
    overflow-y:hidden;
}

div.logo{
    margin: 5px;
    float: left;
    height: 94px;
    width: 117.5px;
    cursor: pointer;
}

img:hover{
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

div.search_bar{
    color: #0d0d34 !important;
    margin: 3px;
    float: left;
}

.standard_button{
    border: 0;
    height: 25px;
    background-color: #352720;
    cursor: pointer;
}

div .standard_button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

div.search_bar input{
    height: 25px;
    border: 0;
    background-color: #5f5144;
    width: 350px;
    margin: 10px;
}

div.left_panel{
    margin: 4px;
    width: 18%;
    height: calc(100% - 40px - var(--top-panel-height));
    position: absolute;
    border: 3px solid #f5f0ec;
}

div.left_panel_contents{
    margin: 3px;
    overflow-wrap: break-word;
}

.side_label{
    font-size: 25px;
    padding: 6px;
    margin: 3px;
}

.side_button:nth-child(even) {background-color: #53453c;}

div .left_panel_contents button{
    display:block;
    border: 0;
    background-color: #352720;
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    width:100%;
}

div .left_panel_contents button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

div.main_panel{
    position: absolute;
    margin: 4px;
    left: calc(18% + 20px);
    height: calc(100% - 40px - var(--top-panel-height));
    width: calc(82% - 42px);
    border: 3px solid #f5f0ec;
    overflow-x:auto
}

div.main_panel_contents{
    margin: 30px;
    overflow-wrap: break-word;
}


div .cart_button button{
    border: 0;
    background-color: #352720;
    cursor: pointer;
    height: 40px;
    width: 70px;
}

div .cart_button button:hover{
     cursor: pointer;
     background-color: #5f5144;
 }

div .profile_button button{
    border: 0;
    background-color: #352720;
    cursor: pointer;
    height: 40px;
    width: 70px;
}

div .profile_button button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

.buy_button{
    border:0;
    z-index: 1;
    background-color: #352720;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.buy_button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

.buy_button::before{
    background-color: #42342d;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
}


.search-table{
    border-collapse: collapse;
    width: 100%;
}

.search-table td, .search-table tr {
    transition:background-color 0.5s;
    border: 1px solid #ddd;
    padding: 20px;
}

.search-table td:hover {
    background-color: #7f6b64;
    cursor: pointer;
}

.search-table td td {
    border-collapse: unset;
    padding: 0px ;
    border: 0;
}

.search-table td td td {
    border-collapse: unset;
    border: 0;
    padding: 5px 5px 5px 50px;
}

.search-table image {
    height: 100%;
    width: 100%;
}

#book_img_div{
    margin: 50px;
}

#book_info{
    position: relative;
    left: 230px;
    top: -360px;
    font-size: 2em
}

.typ_ksiazki{
    color: #000000 !important;
}

.do_koszyka_button{
    border: 0;
    background-color: #352720;
    cursor: pointer;
    height: 30px;
    width: 140px;
    margin-left: 30px;
}

.do_koszyka_button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

#addBookButton{
    border: 0;
    background-color: #352720;
    cursor: pointer;
    margin-left: 5px;
}

#addBookButton:hover{
    cursor: pointer;
    background-color: #5f5144;
}

#commitComent{
    cursor: pointer;
    background-color: #352720;
}

#comment{
    color: #000000 !important;
}

#commentButton{
    cursor: pointer;
    background-color: #352720;
}

html *
{
    color: #ffffff;}

body{
    background-color: #42342d;
}