:root{
    --top-panel-height: 100px;
}

div.top_panel{
    display: flex;
    margin: 4px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: var(--top-panel-height);
    border: 3px solid #f5f0ec;
    overflow-y:hidden;
}

div.logo{
    margin: 5px;
    float: left;
    height: 94px;
    width: 117.5px;
    cursor: pointer;
}

img:hover{
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}


.standard_button{
    border: 0;
    height: 25px;
    background-color: #352720;
    cursor: pointer;
}


div .standard_button:hover{
    cursor: pointer;
    background-color: #5f5144;
}


div.main_panel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    height: calc(100% - 40px - var(--top-panel-height));
    border: 3px solid #f5f0ec;
    overflow-x:auto;

}

div.main_panel_contents{
    margin: 30px;
    overflow-wrap: break-word;
}


div .cart_button button{
    border: 0;
    background-color: #352720;
    cursor: pointer;
    height: 40px;
    width: 70px;
    margin-right: 80px;
    margin-left: 400px;
}

div .cart_button button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

div .profile_button button{
    border: 0;
    margin-right: 20px;
    background-color: #352720;
    cursor: pointer;
    height: 40px;
    width: 70px;
}

div .profile_button button:hover{
    cursor: pointer;
    background-color: #5f5144;
}



.buy_button{
    border:0;
    z-index: 1;
    background-color: #352720;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.buy_button:hover{
    cursor: pointer;
    background-color: #5f5144;
}

.buy_button::before{
    background-color: #42342d;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
}


.shopping-table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.shopping-table tr {
    transition:background-color 0.5s;
    border: 1px solid #ddd;
    padding: 20px;

}

.shopping-table td {
    transition:background-color 0.5s;
    padding: 20px;
    margin: 5px;

}

.shopping-table image {
    height: 100%;
    width: 100%;
}

.profitable{
    vertical-align: top;
}

.quantity{
    width:50px;
    color: #000000 !important;
}

html *
{
    color: #ffffff !important;}

body{
    background-color: #42342d;
}